*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: blue;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2rem;

}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;

}

nav ul li{
    display: inline-block;
    margin-right: 2rem;
}

.navcolor:hover{
    color: #ff523b;
}

.cta {
    padding: 0.5rem 1rem;
    border: 0.2rem solid white;
    border-radius: 1.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    transition: padding 0.5s ease 0s;
    transition: border-radius 0.01s ease 0s;
  }

  .cta:hover{
    padding: 0.75rem 1rem;
    border: 0.2rem solid #ff523b;
    transition: padding 0.5s ease 0s;
    border-radius: 25rem;
    transition: border-radius 0.5s ease 0s;
    
  }


a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.icon{
    cursor: pointer;
}
.svg:hover, .icon:hover{
    color: #ff523b;

}