@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --header_background: radial-gradient(#fff, #31414e);
}

html{
    font-size: 62.5%;
}
header{
    background: var(--header_background);
}

.container{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2rem;

}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;

}

nav ul li{
    display: inline-block;
    margin-right: 2rem;
}

.cta {
    padding: 0.5rem 1rem;
    border: 0.2rem solid white;
    border-radius: 1.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }

  .cta:hover{
    padding: 0.75rem 1rem;
    border: 0.2rem solid #ff523b;
    transition: padding 0.5s ease 0s;
    
  }

a{
    text-decoration: none;
    color: rgb(197, 197, 182);
    font-size: 1.6rem;
}

p{
    color:#555;
    font-size: 1.6rem
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2{
    flex-basis: 50%;
    min-width: 30rem;
}

.col-2 img{
    max-width: 100%;
    padding: 5rem 0;
}

.col-2 h1{
    font-size: 5rem;
    line-height: 6rem;
    margin: 2.5rem 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    border-radius: 30px;
    padding: 0.8rem 3rem;
    margin: 3rem 0;
}

main{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}

