@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --header_background: radial-gradient(#cf66b6, #0b1824);
    --p: #555;

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: var(--header_background);
    height: 100%;
}

.container{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2rem;

}

.nav{
    flex:1;
    text-align: right;
}

.nav ul{
    display: inline-block;
    list-style: none;

}

.nav ul li{
    display: inline-block;
    margin-right: 2rem;
}

.navcolor:hover{
    color: #ff523b;
}

.cta {
    padding: 0.5rem 1rem;
    border: 0.2rem solid white;
    border-radius: 1.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    transition: padding 0.5s ease 0s;
    transition: border-radius 0.01s ease 0s;
  }

  .cta:hover{
    padding: 0.75rem 1rem;
    border: 0.2rem solid #ff523b;
    transition: padding 0.5s ease 0s;
    border-radius: 25rem;
    transition: border-radius 0.5s ease 0s;
    
  }


a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.icon{
    cursor: pointer;
}
.svg:hover, .icon:hover{
    color: #ff523b;

}

p{

    color:rgb(77, 77, 77);

    color:black;

    font-size: 1.6rem
}

header .row{
    margin-top: 5rem;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2{
    flex-basis: 50%;
    min-width: 30rem;
    color: black;
}

.col-2 img{
    max-width: 100%;
    padding: 5rem 0;
}

.col-2 h1{
    font-size: 5rem;
    line-height: 6rem;
    margin: 2.5rem 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    border-radius: 30px;
    padding: 0.8rem 3rem;
    margin: 3rem 0;
    transition: background 0.75s;
}

.btn:hover{
    background: #7f0f00;
}

main{
    max-width: 100%;
    margin: auto;

    
}

.categories{
    padding-top: 5rem;
}




.col-3{
    flex-basis:30% ;
    min-width: 25rem;
    margin-bottom: 3rem;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 108rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

}

.section-3{
    width: 100%;
    padding: 4rem;
    height: auto;
    background: white;
    display: flex;
    align-items: center;

}

.arrow{
    width: 2.5%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    cursor: pointer;

}


.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    width: 95%;
    flex-wrap: wrap;
}

.review{
    width: 35rem;
    list-style: none;
    padding: 4rem;
    border-radius: 0.5rem;
    position: relative;
    animation-name: fadein;
    animation-duration: 0.8s;

    
}

.review img {
    min-width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    cursor: pointer;
}

.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
    display: none;
}



.cat-1{
    position: absolute;
    top: 15%;
    left: 13.5%;
    color: white;
    font-size: 1.8rem;
    font-weight: 100;
    cursor: pointer;
}

.cat-1 p{
    color: white;
    font-size:1.5rem;
}

@keyframes fadein{
    from{
        opacity: 0;
        filter: blur(1rem);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}




.col-4 > a > img{
    border-radius: 35%;
    max-width: 20rem;
}



.cat-2 p{
    font-size:1.5%;
}

.cat-2{
    color: #0b1824;
    font-size: 1.8rem;
    font-weight: 100;
    cursor: pointer;
}

.titel{
    padding-top:8rem ;
    text-align: center;
    position: relative;
    line-height: 6rem;
    color: var(--p);
}

.titel::after{
    content: '';
    background: #ff523b;
    width: 8rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--p);
    font-weight: normal;

}


.col-4:hover{
    transform: translateY(-0.5rem);
}

.offer{
    background: var(--header_background);
    margin-top: 8rem;
    padding: 3rem 0;
    
}

.col-2 .offer-img{
    padding: 5rem;
}

small{
    color: black;

}

.testimonial{
    padding-top: 10rem;
}

.testimonial .col-3{
    text-align: center;
    padding: 4rem 2rem;
    box-shadow: 0 0 2rem 0rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 5rem;
    margin-top: 2rem;
    border-radius: 50%;

}

.testimonial .col-3:hover{
    transform: translateY(-1rem);
}
.fa.fa-quote-left{
    font-size: 3.4rem;
    color: #ff523b;
}

.col-3 p{
    font-size: 1.2rem;
    margin: 1.2rem 0;
    color: var(--p);
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: var(--p);
    font-size: 1.6rem;
}

.brands{
    margin: 10rem auto;

}

.col-5{
    width: 16rem;

}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}

footer{
    background: lightblue;
    color: #8a8a8a;
    font-size: 1.4rem;
    padding: 6rem 0 2rem;
}


.footer p{
    color: #8a8a8a;

}

.footer h3{
    color: #fff;
    margin-bottom: 2rem;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 25rem;
    margin-bottom: 2rem;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex:1;
    text-align: center;
}

.footer-col-2 img{
    width: 18rem;
    margin-bottom: 2rem;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;

}

ul{
    list-style: none;
}

.app-logo{
    margin-top: 2rem;
}

.app-logo img{
    width: 14rem;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 0.1rem;
    margin: 2rem 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 2.8rem;
    margin-left: 2rem;
    display: none;
}

/* media query for menu */

@media only screen and (max-width: 50rem) {
    .nav ul{
        position: absolute;
        top: 7rem;
        left: 0;
        background: black;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .nav ul li{
        display: block;
        margin-right: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
}

/*media query for categories */

@media  screen and (max-width :50rem) {
    
    .review{
        width: 60%;
    }



    .cat-1{
        position: absolute;
        top: 16%;
        left: 20%;
        color: white;
        font-size: 1.3rem;
        font-weight: 100;
        cursor: pointer;
    }


    .cat-1 p{
        display: none;
    }

}





