@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --header_background: radial-gradient(#fff, #31414e);
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: var(--header_background);
    height: 100%;
}

.container{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2rem;

}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;

}

nav ul li{
    display: inline-block;
    margin-right: 2rem;
}

.navcolor:hover{
    color: #ff523b;
}

.cta {
    padding: 0.5rem 1rem;
    border: 0.2rem solid white;
    border-radius: 1.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    transition: padding 0.5s ease 0s;
    transition: border-radius 0.01s ease 0s;
  }

  .cta:hover{
    padding: 0.75rem 1rem;
    border: 0.2rem solid #ff523b;
    transition: padding 0.5s ease 0s;
    border-radius: 25rem;
    transition: border-radius 0.5s ease 0s;
    
  }


a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.icon{
    cursor: pointer;
}
.svg:hover, .icon:hover{
    color: #ff523b;

}

p{
    color:rgb(245, 237, 237);
    font-size: 1.6rem
}

header .row{
    margin-top: 5rem;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2{
    flex-basis: 50%;
    min-width: 30rem;
    color: #fff;
}

.col-2 img{
    max-width: 100%;
    padding: 5rem 0;
}

.col-2 h1{
    font-size: 5rem;
    line-height: 6rem;
    margin: 2.5rem 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    border-radius: 30px;
    padding: 0.8rem 3rem;
    margin: 3rem 0;
    transition: background 0.75s;
}

.btn:hover{
    background: #7f0f00;
}

main{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}

.categories{
    margin: 7rem 0;
}

.col-3{
    flex-basis:30% ;
    min-width: 25rem;
    margin-bottom: 3rem;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 108rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

}

.col-4{
    flex-basis: 25%;
    padding: 1rem;
    min-width: 20rem;
    margin-bottom: 5rem;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.titel{
    text-align: center;
    margin: 0 auto 8rem;
    position: relative;
    line-height: 6rem;
    color: #555;
}

.titel::after{
    content: '';
    background: #ff523b;
    width: 8rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 1.4rem;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-0.5rem);
}