*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header_background: radial-gradient(#fff, #31414e);
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: var(--header_background);
    height: 100%;
}

.container{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2rem;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;

}

nav ul li{
    display: inline-block;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

p{
    color:#555;
    font-size: 1.6rem
}

header .row{
    margin-top: 5rem;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2{
    flex-basis: 50%;
    min-width: 30rem;
}

.col-2 img{
    max-width: 100%;
    padding: 5rem 0;
}

.col-2 h1{
    font-size: 5rem;
    line-height: 6rem;
    margin: 2.5rem 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    border-radius: 30px;
    padding: 0.8rem 3rem;
    margin: 3rem 0;
    transition: background 0.75s;
}

.btn:hover{
    background: #7f0f00;
}

main{
    max-width: 130rem;
    margin: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}

.categories{
    margin: 7rem 0;
}

.col-3{
    flex-basis:30% ;
    min-width: 25rem;
    margin-bottom: 3rem;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 108rem;
    
}